* {
    box-sizing: border-box
}

body {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
}

/* Navigation ============================= */

.anchorContents {
    display: none;
    position: absolute;
    background-color: rgba(243, 241, 241, 0.975);
    min-width: 150px;
    padding: 15px;
}

.anchorContents a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.dropbtn:hover .anchorContents {
    display: block;
}

.anchorRight {
    text-align: right;
    float: right;
    /* border: 4px solid black; */
}

.dropbtn {
    /* border: 4px solid black; */
    cursor: pointer;
    display: none;
}

.navBar {
    background-color: rgba(243, 241, 241, 0.975);
    /* border: 4px solid black; */
    padding: 20px;
    box-shadow: 0 0 20px 0 black;
    position: fixed;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.sendCenter {
    display: inline-block;
    /* float: left; */
    margin-top: -20px;
}

a {
    text-decoration: none;
    color: black;
    margin: 30px; 
}

a:hover, .fas:hover {
    opacity: 0.5;
}

a.active {
    text-decoration: underline;
}

a:hover:not(.active) {
    text-decoration: none;
}

.indexContainer {
    width: 100%;
    margin: 0 auto;
}

/* Project page expand a grid (content)=========*/

.column {
    font-style: italic;
    width: 150px;
}

.column:hover, .closebtn:hover {
    cursor: pointer;
    background-color: rgb(250, 246, 246);
    border: 1px solid black;
}

.closebtn {
    float: right;
    font-size: 35px;
}

/* Index image ============================== */

.indexImage {
    background-image: url(../photos/building.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -10px;
    height: 546px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}


/* ==========================================
FlexBox, this align content in the middle of the page
=============================================*/
.indexText {
    /* display: inline-block; 
    padding-left: 600px;
    padding-top: 100px; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Index Welcome section ===================== */

.welcomeContainer {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.welcomeText {
    text-align: left;
}

.whySpecial {
    width: 100%;
    background-color: lightblue;
}

.specialGrid {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.removeMargin {
    margin: 0;
}

li {
    padding: 10px;
}

/* Hero Projects ====================== */

.heroContainer, .aboutContainer, .formContainer {
    padding-top: 80px;
    padding-bottom: 50px;
    width: 95%;
    margin: 0 auto;
    border-bottom: 0.5px solid lightgray;
    /* border: 5px solid black; */
}

.heroImages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 10px;
    width: auto;
}

.image1, .aboutImage, .whyImage {
    width: 100%;
    height: auto;
}

.imageContainer {
    box-shadow: 0 6px 10px 0;
}

.houseInfo {
    background-color: rgb(48, 47, 47);
    width: 100%;
    color: white;
    font-size: 14px;
    padding: 10px;
    box-shadow: 0 10px 25px 0 black;
}

/* About Grid =========================== */

.heroAbout, 
.heroContact, 
.heroProject, 
.welcomeText, 
.column, 
.containerTab,
.closebtn {
    padding-left: 10px;
    padding-right: 10px;
}

.aboutGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px; 
    padding: 10px; 
    /* border: 4px solid black; */
}

/* Form section ======================== */

.formStyling {
    padding-right: 20px;
}

input[type="text"],
input[type="email"] {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 100%;
    font-size: 15px;
}

.map {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

iframe {
    width: 100%;
    height: 400px;
}

.sideAddress {
    border-left: 0.5px solid lightgray;
    padding-left: 20px;
    height: auto;
}

.officeAddress {
    font-weight: bold;
}

.footerColor {
    color: white;
}

.fab, .fa {
    padding-bottom: 5px;
    padding-left: 8px;
    font-size: 20px;
    color: lightgreen;
}

.fas {
    color: black;
    font-size: 20px;
}

.addressSpace {
    padding: 10px;
}

.sendForm {
    padding: 20px 20px;
}

.sendButton {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    box-shadow: 0 10px 18px 0 gray;
}

.backTop {
    text-align: right;
    padding-right: 30px;
}

/* Footer section ====================== */

footer {
    background-color: rgb(82, 81, 81);
    padding: 5px;
    height: auto;
}

.footerText {
    text-align: center;
    color: white;
}



/* Responsive =========================== */

@media only screen and (max-width: 900px) {

    .heroImages, 
    .aboutGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .specialGrid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .indexText {
        padding-left: 220px;
    }

    .heroContainer, .aboutContainer, .formContainer {
        padding: 100px 10px 20px 10px;
    }
}

@media only screen and (max-width: 700px) {

    .navBar, .sendForm {
        text-align: left;
        padding: 20px;
    }

    .indexText {
        padding-left: 70px;
    }

    .heroImages,
    .aboutGrid,
    .map {
        display: grid;
        grid-template-columns: 1fr;
    }

    .anchorRight {
        display: none;
    }

    .dropbtn {
        display: block;
    }

    .aboutContainer, .formContainer, .heroContainer {
        padding-top: 120px;
        padding-bottom: 20px;
    }
}