nav {
    display: flex;
    justify-content: center;
}

nav > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

@media only screen and (max-width) {
    nav {
        flex-direction: column;
    }
}