/* Robert Maingu
    WEB 190 2020
    Restaurant - Final Submission
    06Apr2020 */

* {
    box-sizing: border-box;
}

html,body,blockquote,code,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

/* Typography ========================================= */
h1 {
    font-size: 35px;
}

.headerStyle  {
    font-size: 28px;
    font-family: 'Courgette', cursive;
}

.heroContent {
    font-size: 25px;
}

/* Header section====================================== */
header {
    display: grid;
    grid-template-columns: auto;
    background-image: url(banner-1391842_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 30px;
    padding: 20px;
    font-family: 'PT Sans', sans-serif;
    position: fixed;
    width: 100%;
    height: 390px;
    text-align: center;
}

.logo {
    font-weight: bolder;
}

/* Index page main =================================== */
main {
    padding-top: 30px;
}

.location,
.copyColor {
    background-color: brown;
}

 .expMenu,
 .indexHeader,
 .menuType {
    font-family: 'Courgette', cursive;
    font-size: 28px;
}

.addressLeft {
    text-align: right;
}

.headerAddress,
.phoneColor,
.emailStyle,
.copyColor {
    font-size: 12px;
}

/* Index image style ============================= */
.indexContainer {
    display: flex;
    align-items: center;
    color: white;
}

.indexHeader {
    text-align: center;
    padding-top: 470px;
}

.indexText {
    margin: 0 auto;
}

/* Explore Menu section ========================== */
.exploreMenu {
    padding-top: 410px;
    text-align: center;
}

/* Wrapper========================================= */
.wrapper {
    width: 100%;
    margin: 0 auto;
}

/* Navigation==================================================== */
.nav {
    text-align: center;
}

ul {
    margin: 0 auto;
}

li,
span,
.headerStyle {
    display: block;
}

a {
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
    color: black;
}

a.active {
    border: 1px solid black;
    padding: 5px 38px;
}
a.active:hover,
input[type="button"]:hover {
    background-color: black;
    transition: 0.5s ease;
    color: white;
}

/* Main container/ Grids ========================================= */
#twoGrids {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 20px;
}

/* Images style =================================================== */
img {
    width: 100%;
    height: auto;
    box-shadow: 0 10px 16px 0 black;
}

/* Menu image container =========================== */
.imageContainer {
    box-shadow: 0 6px 10px 0;
}

/* Index page background image =========================== */
.indexImage {
    background-image: url(chickenLiver.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
}

/* Menu hero grid section ============================ */
.heroImages {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 20px;
    width: auto;
}

.foodInfo {
    background-color: rgb(48, 47, 47);
    width: 100%;
    color: white;
    font-size: 25px;
    padding: 10px;
    box-shadow: 0 10px 25px 0 black;
    font-family: 'Courgette', cursive;
}

.foodDetail,
.heroPara,
fieldset {
    font-size: 18px;
    padding: 5px;
}
/* Iframe section ================================================= */
.mapIframe {
    padding: 20px;
}

/* Footer section================================================= */
.footer {
    display: grid;
    grid-template-columns: auto;
}

.footerColor {
    color: white;
}

.location {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.emailStyleTop {
    color: black;
}

.emailStyle,
.copyColor,
.fa {
    color: white;
}

.phoneColor,
.location,
.heading,
a {
    color: black;
}

.copyColor {
    text-align: center;
    padding-bottom: 10px;
}

/* =====================================================
Form area
========================================================*/
.formHeader {
    text-transform: uppercase;
    text-align: center;
    padding-top: 410px;
}

#myForm {
    padding: 20px;
}

label, 
input,
textarea {
    display: block;
    padding: 10px;
}

input[type="text"], 
input[type="email"],
input[type="date"], 
textarea {
    width: 100%;
}
legend {
    padding-top: 10px;
}

fieldset > label,
fieldset > input {
    display: inline-block;
}

fieldset > input,
fieldset > label,
input[type="button"] {
    cursor: pointer;
}

textarea {
    height: 100px;
    resize: none;
}

.flexContainer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;
}

input[type="button"] {
    margin: 10px;
}

iframe {
    box-shadow: 0 5px 10px 0 gray;
    width: 100%;
    height: 400px;
}

.mapIframe {
    padding-bottom: 40px;
}

span {
    display: block;
}

/* Media query 650px ======================================== */
@media screen and (min-width: 650px) {
    .wrapper {
        width: 100%;
    }

    header {
        height: 220px;
    }

    .indexHeader {
        text-align: center;
        padding-top: 450px;
    }

    #twoGrids, 
    .heroImages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    main {
        padding-top: 10px;
    }

    .heroContent {
        font-size: 40px;
    }

    .exploreMenu {
        padding-top: 240px;
    }

    img {
        max-width: 600px;
        height: 250px;
    }

    .formHeader {
        padding-top: 240px;
    }

    .footer,
    .heading {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
} 

/* =====================================================
Media query 900px
========================================================*/  
@media only screen and (min-width: 900px) {
    .wrapper {
        width: 80%;
    }

    li {
        display: inline-block;
    }

    header {
        height: 170px;
    }

    .indexHeader {
        text-align: center;
        padding-top: 400px;
    }

    .formHeader {
        padding-top: 190px;
    }

    .heroImages {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .exploreMenu {
        padding-top: 190px;
    }
}