* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    border-bottom: 0.5px solid black;
}

form {
    padding-top: 30px;
}

label, 
input,
textarea {
    display: block;
    font-size: 20px;
    padding: 10px;
}

input[type="text"], 
input[type="email"], 
textarea {
    width: 100%;
}
legend {
    padding-top: 10px;
    font-size: 20px;
}

fieldset > label,
fieldset > input {
    display: inline-block;
}

fieldset > input,
fieldset > label,
input[type="button"] {
    cursor: pointer;
}

textarea {
    height: 100px;
}

.flexContainer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;
}

input[type="button"] {
    margin: 10px;
}

input[type="button"]:hover {
    font-weight: bold;
}

@media only screen and (min-width: 900px) {
    .wrapper {
        width: 850px;
    }
}