* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Header section */
header {
    background-image: url(bannerLogo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    text-align: center;
    padding: 5px 5px;
}

#skip {
    font-size: 20px;
}

/* Navigation section */
nav {
    text-align: left;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    margin: 20px;
    text-align: left;
    color: black;
}

a:hover {
    opacity: 0.7;
}

.active {
    text-decoration: underline;
}

/* Wrapper size */
main {
    width: 80%;
    margin: 0 auto;
}


/* Table section */
caption {
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;
}
table {
    width: 100%;
    height: 100px;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: rgb(238, 238, 238);
}

/* Main hero */
main {
    padding-bottom: 20px;
}
.imageGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
img {
    width: 100%;
    height: 400px;
}

/* Larger displays */
@media only screen and (min-width: 900px) {
    .imageGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    nav {
        text-align: right;
    }

    .headerLogo {
        width: auto;
        height: auto;
    }
}