* {
    box-sizing: border-box;
}

html,body,blockquote,code,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* ================================================
Typography
===================================================*/
h1 {
    font-size: 30px;
}

h2  {
    font-size: 25px;
}

h4, h5 {
    font-size: 20px;
}

h6 {
    font-size: 15px;
    font-weight: lighter;
}






/* ================================================== 
Header/Banner
=====================================================*/
.logoStyle {
    padding: 10px;
}

.wrapper { 
    background-color:#fff; 
    width: 100%;
    margin: auto;
    padding: 70px 20px 20px 20px;
}

/* =====================================================
Navigation
========================================================*/
.logo, 
.nav {
    font-family: 'Source Sans Pro', sans-serif; 
    text-align: center;
}

.logo {
    /* font-size: 2em;  */
    text-align: center;
    padding: 20px 0 10px 0;
    background-color: #4A4A4A;
    color: #FFFFFF;
    position: fixed;
    width: 100%;
}

#skip {
    color: white;
}

.subHeader {
    font-weight: lighter;
}
.nav {
    font-weight: bold; 
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

ul {
    margin: 0 auto;
}

li {
    display: block;
}

a {
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
    color: black;
}

a.active {
    border: 1px solid black;
    padding: 5px 90px;
}
a.active:hover,
input[type="button"]:hover {
    background-color: black;
    color: white;
    transition: 0.5s ease;
}

/* =====================================================
Main content
========================================================*/

.content {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding-top: 40px;
}

.heroHeaders {
    text-align: center;
}

.heroContent {
    text-align: left;
}

img {
    height: auto;
    width: 100%;
    box-shadow: 0 5px 10px 0 gray;
}

/* =====================================================
Table section
========================================================*/
caption {
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;
}
table {
    width: 100%;
    height: 100px;
    box-shadow: 0 5px 10px 0 gray;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: rgb(238, 238, 238);
}


/* =====================================================
Form area
========================================================*/
label, 
input,
textarea {
    display: block;
    padding: 10px;
}

input[type="text"], 
input[type="email"],
input[type="date"], 
textarea {
    width: 100%;
}
legend {
    padding-top: 10px;
}

fieldset > label,
fieldset > input {
    display: inline-block;
}

fieldset > input,
fieldset > label,
input[type="button"] {
    cursor: pointer;
}

textarea {
    height: 100px;
    resize: none;
}

.flexContainer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;
}

input[type="button"] {
    margin: 10px;
}

iframe {
    box-shadow: 0 5px 10px 0 gray;
    width: 100%;
    height: auto;
}

span {
    display: block;
}

/* =====================================================
Footer section
========================================================*/
.footer { 
    text-align: center;
    padding: 30px;
    background-color: #4A4A4A;
    color: #FFFFFF;
    }

/* =====================================================
Media queries
========================================================*/  
@media only screen and (min-width: 900px) {
    .wrapper {
        width: 80%;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 20px;
        padding-top: 40px;
    }

    img {
        height: 400px;
        width: 400px;
        box-shadow: 0 5px 10px 0 gray;
    }

    iframe {
        box-shadow: 0 5px 10px 0 gray;
        width: 100%;
        height: 450px;
    }

    li {
        display: inline-block;
    }
}