body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    padding: 30px;
    text-align: center;
    background-color: lightgray;
}

ul {
    padding-top: 5px;
    padding-bottom: 5px;
}

li {
    display: inline;
    text-align: center;
    padding: 20px;
    margin: 30px;
    background-color: black;
    border-radius: 5px;
}

a {
    text-decoration: none;
    margin: 20px;
    color: white;
}

.active {
    text-decoration: underline;
}

li:hover {
    opacity: 0.7;
}

