* {
    box-sizing: border-box;
}

body, html {
    font-family: 'B612 Mono', monospace, Arial, Helvetica, sans-serif;
    margin: 0;
}

#navBar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(243, 242, 242, 0.959);
    padding: 50px;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 15px 0 black;
    transition: 0.6s;
}

.dropdown-content {
    /* padding: 10px; */
}


.leftNavigation {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}
a {
    text-decoration: none;
    color: black;
    margin: 30px;
    font-size: 15px;
}

a.active {
    text-decoration: underline;
}

a:hover:not(.active) {
    text-decoration: none;
}

a:hover, .submitButton:hover {
    opacity: 0.5;
}

/* Drop down List ================= */

.dropdown {
    position: relative;
    display: inline-block;
    display: none;
}

.dropbtn {
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    background-color: rgba(243, 242, 242, 0.959);
    box-shadow: 0 10px 16px 0 gray;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(53, 52, 52);
    color: white;
}

/* Index Image ====================== */

.indexImage {
    background-image: url(../photos/bread.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -90px;
    background-position-x: 0;
    max-width: 100%;
    height: 585px;
}


.toheroText {
    /* border: 5px solid black; */
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.whoCooks {
    margin-top: 350px;
    padding: 20px;
}


/* About Followup page ======================*/

.container1, .heroMenu, .contactInfo {
    width: 900px;
    margin: 0 auto;
    /* text-align: center; */
    border-bottom: 0.5px solid lightgray;
}

.gridImage, 
.heroMenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 60px 10px 60px 10px;
    /* border: 3px solid black; */
}

.sandwichImage, .menuImages {
    max-width: 100%;
    height: auto;
    box-shadow: 0 10px 16px 0 black;
}


.aboutHero {
    text-align: left;
}

.contactInfo {
    padding: 60px 10px 60px 10px;
    text-align: left;
}

/* Form section ================================ */

.orderForm {
    display: block;
    padding: 20px; 
    margin: 0;
    font-size: 17px;
    /* text-transform: uppercase; */
}

/* .userEntry {
    text-transform: uppercase;
} */

input, textarea {
    width: 75%;
    height: 40px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 5px 10px 0 gray;
    padding: 5px;
}

textarea {
    width: 500px;
    height: 150px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 5px 10px 0 gray;
}

.topButton {
    text-align: right;
    /* position: fixed; */
    margin: 10px;
}

/* Submit Button ================================== */

.formSubmit {
    margin-top: 20px;
}

.submitButton {
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

/* Footer ========================================= */

footer {
    background-color: aliceblue;
    height: 90px;
    padding: 20px;
    text-align: center;
}

.fa {
    margin: 10px;
    /* display: inline-block; */
}

/* Pages separation==================== */


.container1, .heroMenu, .contactInfo {
    padding-top: 120px;
}

/* Responsive ================== */

@media only screen and (max-width: 900px) {
    a {
        margin: 10px;
        text-align: center;
    }

    .container1,
    .indexImage, 
    .heroMenu,
    .contactInfo,
    .orderForm,
    input,
    textarea,
    .contactForm,
    .submitButton {
        width: 100%;
        /* height: auto; */
    }

    #navBar, 
    .gridImage,
    .heroMenu {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
    }

    .container1, 
    .heroMenu, 
    .contactInfo, 
    .toheroText {
        padding-top: 130px;
    }

    .menuChoice {
        text-align: left;
    }

    /* .navOff {
        display: none;
    } */

    .leftNavigation {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .whoCooks {
        margin-top: 250px;
        text-align: center;
    }

    .leftLogo {
        text-align: left;
    }

    .orderform {
        margin: 0;
    }

    p, .footerText {
        font-size: 12px;
    }

    footer {
        height: auto;
    }
}