* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Noto Sans HK', sans-serif, Arial, Helvetica, sans-serif;
    /* background-image: url(../asset/stylesheet/photo/waterfalls.jpg); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

/* ========================================
Top Navigation
===========================================*/

.navHeader {
    background-color: black;
    /* height: 80px; */
    padding: 15px;
    text-align: right;
    /* position: fixed; */
}

a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

a:hover:not(.active) {
    background-color: rgb(107, 106, 106);
    cursor: pointer;
    transition: 0.7s;
}

.active {
    background-color: lightgray;
    color: black;
}

.topStyle {
    text-align: right;
    padding-top: 70px;
}

.topPage, .chatPopup, .openButton {
    /* text-align: right; */
    display: inline-block;
}

.openButton, .topPage {
    background-color: black;
    padding: 15px 20px;
}

.openButton, .topPage, .border {
    border-radius: 10px;
}

a .topPage {
    color: black;
}

/* =======================================
Form styling "Feedback"
=========================================*/

.openButton {
    background-color: black;
    color: white;
    /* padding: 15px 20px; */
    border: none;
    cursor: pointer;
    opacity: 0.7;
    /* position: fixed; */
    z-index: 9;
}

.chatPopup {
    display: none;
    border: 3px solid black;
}

.formContainer {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: rgb(247, 245, 245);
    resize: none;
    min-height: 200px;
}

textarea:hover {
    background-color: lightgray;
    outline: none;
}

.btn {
    background-color: green;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.5;
}

.cancel {
    background-color: red;
}

.openButton:hover, .btn:hover, .cancel:hover {
    opacity: 1;
}

/* =======================================
Hero images
==========================================*/

.heroImage1, .heroImage2, .heroImage3 {
    position: relative;
    /* opacity: 0.7; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* .heroImage1 {
    text-align: center;
    margin: 0 auto;
} */
.border {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    margin-left: 40%;
    top: 50%;
    width: auto;
    background-color: black;
    color: white;
    text-transform: uppercase;
    /* border-radius: 8px; */
}

h2 {
    padding: 10px;
    text-align: center;
}

/* =======================================
Hero text
==========================================*/

.heroIntroduction {
    text-align: center;
}


.heroLight {
    /* text-align: center; */
    background-color: white;
    padding: 20px;
}

.heroDark {
    /* text-align: center; */
    background-color: rgb(73, 73, 73);
    padding: 20px;
    color: white;
}


/* ==========================================
Three grids for home page
=============================================*/

.heroGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* ==============================================
Two grids for pages excluding home page
=================================================*/


.heroImage1 {
    background-image: url(stylesheet/photo/computerImage5.jpg);
    height: 400px;
}

.heroImage2 {
    background-image: url(stylesheet/photo/computerImage4.jpg);
    height: 400px;
    /* opacity: 0.9; */
}

.heroImage3 {
    background-image: url(stylesheet/photo/computerImage6.jpg);
    height: 400px;
}

/* ====================================
Start of footer section
=========================================*/
footer {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 70px;
}

h6 {
    color: white;
    text-align: center;
}

.socialMedia {
    text-align: center;
}

/* ======================================
Responsiveness
==========================================*/

@media only screen and (max-width: 900px) {
    .mainContainer {
        width: 100%;
        /* overflow: hidden; */
    }

    /* .heroImage1, .heroImage2, .heroImage3 {
        position: relative;
        opacity: 0.7;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    } */

    .heroGrid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .border {
        margin-left: 90px;
        /* margin: 0 auto; */
        
    }

    .navHeader {
        padding: 10px;
        text-align: left;
    }

    a {
        padding: 10px;
        display: block;
    }
}
