/* CSS for vacation project*/

/* Jumbotron =========================== */
.jumbotron-fluid {
    background-image: url(siteHeader.jpg);
    background-color: #424242;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
    height: auto;
}

/* Typography =========================== */
    

/* Parallax ============================= */
.parallax {
    background-image: url(onRoad.jpg);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 20px 20px 50px 20px;
}

/* Slide show ========================== */
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

  /* Opacity ============================ */
/* .img-fluid {
    opacity: 0.9;
    transition: 0.3s;
} */

  /* .img-fluid:hover {
      opacity: 1;
  }  */