/* =============This is responsive first website===============
================This is the setup of all small displays */

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

/* This stretches the input field */

.container {
    padding: 20px;
    width: 500px;
    margin: 0 auto;
}

.formRow {
    padding-top: 10px;
    display: flex;
}

.inputStretch {
    flex: 1;
}


/* This design container sizes */

.columnLayout {
    max-width: 1400px;
    background-color: lightgray;
    margin: 0 auto;
    padding: 10px 30px;
    /* display: flex; */
}

/* Flexing three containers to include equal sizes and margin */

.callContainer {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 20px;
    /* align-content: flex-start;
    align-content: flex-end; */
}

.callOut {
    padding: 20px;
    margin-bottom: 20px;
    flex-basis: 30%;
}


.callOut:nth-child(1) {
    background-color: lightgreen;
}

.callOut:nth-child(2) {
    background-color: lightblue;
}
 .callOut:nth-child(3) {
     background-color: lightyellow;
 }

 /* This position content in the middle of the parent container */

.banner {
    height: 400px;
    max-width: 700px;
    margin: 0 auto;
    background-color: darkgray;
    display: flex;
}

.centerContent {
    color: white;
    font-size: 30px;
    margin: auto;
}

.equalContainer {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
}

.first {
    background-color: lightgray;
    padding: 20px;
    flex: 1;
}

.second {
    background-color: lightgreen;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.secondA {
    background-color: lightyellow;
    flex: 1;
}

.secondB {
    background-color: lightblue;
    flex: 1;
}

/* ===============Responsiveness for larger displays==============*/

@media (min-width: 900px) {
    .callContainer {
    display: flex;
    justify-content: space-between;
    }

    .columnLayout {
        display: flex;
    }

    .mainColumn {
        flex: 3;
        order: 2;
    }
    
    .asideOne {
        flex: 1;
        order: 1;
    }
    
    .asideTwo {
        flex: 1;
        order: 3;
    }
}

/* =========flex-wrap: wrap; wrap items for small display */

