/* No CSS *//*# sourceMappingURL=style.css.map */

/* This is additional CSS for the page built with Bootstrap */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
    scroll-behavior: smooth;
}


/* Reset typography ========= */
html,body,blockquote,code,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

/* Typography ========= */
.asideHeader,
.asideText, 
.aboutText,
.aboutHeader,
label {
    color: black;
}

.asideHeader {
    font-weight: bolder;
}

.infoText {
    font-size: small;
    font-style: italic;
}

/* Text styling ================= */
.headerStyle {
    font-family: 'Great Vibes', cursive;
}

/* Content alignment ====== */
.form-group {
    text-align: left;
}

/* Padding ================ */
.aboutText,
.fa,
/* .workLink, */
.aboutHeader,
.sectionHeader,
.sectionContact,
.row {
    padding: 10px;
}

.aboutHeader {
    font-weight: bold;
    font-size: 20px;
}

/* Header section ========== */
.jumbotron-fluid {
    background-image: url(../landingImage2.JPG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    height: auto;
}

.headerContent {
    width: 100%;
    margin: 0 auto;
}

.navbar {
    background-color: black;
}

.headerText,
.sectionHeader,
.sectionContact,
.workLink {
    background-color: black;
    opacity: 0.7;
}

.headerText {
    padding: 20px;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.carouselImage {
    width: 100%;
    height: 250px;
}

/* .carouseImage {
    width: 200px;
    height: 200px;
} */

.siteImage {
    max-width: 100%;
    height: auto;
    /* display: none; */
}

/* Hover effect */
.fa:hover {
    opacity: 0.7;
}

.headerText,
#myBtn {
    cursor: pointer;
}

/* Back to top button ======== */
#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    border-radius: 30px;
  }

/* Responsive row ========= */
.row,
.jumbotron-fluid {
    width: 100%;
    /* padding: 10px; */
}

/* Gallery page =========== */
/* .col-md-3:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.7s;
} */

.galleryImage {
    width: 100%;
    height: auto;
    display: block;
}

/* .text {
    font-size: 18px;
    padding: 5px;
} */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .9s ease;
    background-color: rgba(58, 57, 57, 0.603);
  }

.image:hover .overlay {
    opacity: 1;
  }

/* Updates =================== */
.updates {
    background-color: red;
    opacity: 0.6;
    padding: 10px;
}

/* Tree page ========= */
.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }

  .caret,
  .nestedColor {
    color: black;
  }

  ul, #myUL {
    list-style-type: none;
  }

/* Media query 650px ========== */
@media screen and (min-width: 650px) {
    .headerContent {
        width: 100%;
    }

    .text {
        font-size: 10px;
    }

    .carouselImage {
        max-width: 100%;
        height: 500px;
    }

    /* section {
        padding-bottom: 20px;
    } */

    .lineBreak {
        display: none;
    }
}

/* Media query 900px ========== */
@media screen and (min-width: 900px) {
    .headerContent {
        width: 60%;
    }

    .siteImage {
        max-width: 300px;
        height: auto;
    }

    .carouselImage {
        max-width: 100%;
        height: 650px;
    }

    .imageText {
        font-size: 14px;
        padding: 10px;
    }
}