* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: black;
}

/* Header section ==================================== */

/* .pageTitle {
    position: fixed;
    background-image: url(photos/specialDinner.jpg);
} */

.separateGrid {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr;
    position: fixed;
    background-color: rgb(59, 58, 58);
    width: 100%;
    color: white;
    box-shadow: 0 0 20px 0 black;
}

.headerTitle {
    font-size: 24px;
    text-align: center;
    /* padding: 15px; */
    width: 100%;
    order: 2;
}


.topNavigation {
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.smallDisplays {
    display: block;
}

a.active {
    text-decoration: underline;
}


.fa {
    font-size: 20px;
}

.fa:hover {
    opacity: 0.5;
}

.largerDisplays {
    display: none;
}

/* Hero container styling ============================ */

.heroContainer {
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.heroHeader, .heroContent {
    padding: 20px;
}

.heroHeader, 
.heroContent {
    box-shadow: 0 5px 10px 0 gray;
}

.heroIntro, h2 {
    text-align: left;
    font-size: 18px;
}

.heroImage {
    width: 100%;
}

.contactInfo {
    width: 100%;
    border-left: 0.5px solid lightgray;
    padding-left: 20px;
}

.contactDetail {
    font-size: 20px;
}

/* Experience page styling====================== */

.experienceImage {
    width: 100%;
    height: auto;
}

.fa {
    margin-right: 10px;
}

footer {
    background-color: rgb(59, 58, 58);
    color: white;
    padding: 50px;
    text-align: center;
    /* position footer on bottom of the page */
    /* position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; */
}

.footerContent {
    font-size: 12px;
}

/* Larger displays =================================== */

@media (min-width: 900px) {
    .heroContainer {
        width: 850px;
        margin: 0 auto;
        padding-top: 160px;
        padding-bottom: 20px;
    }

    .largerDisplays {
        display: block;
    }

    .smallDisplays {
        display: none;
    }

    .separateGrid {
        display: block;
        position: fixed;
        width: 100%;
        background-color: rgb(59, 58, 58);
        color: white;
        box-shadow: 0 0 20px 0 black;
    }

    .navAnchor {
        padding: 5px 90px;
    }

    a.active {
        text-decoration: none;
        border: 1px solid black;
        padding: 5px 90px;
        color: black;
    }

    a.active:hover {
        background-color: rgb(59, 58, 58);
        color: white;
        transition: 1s ease;
    }

    .heroContent {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 20px;
        /* padding: 10px; */
    }

    .heroHeader, .heroContent {
        padding: 20px;
    }

    .heroIntro {
        font-size: 25px;
    }

    /* Experience page inner content grid================== */

    .innerContent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(200px, auto);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .experienceImage {
        padding-top: 80px;
    }
}

