* {
    box-sizing: border-box;
}


/* ===================================================
code to keep the footer at the bottom of the page
======================================================
 */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
}

.container {
    min-height: 100%;
    position: relative;
}

.header {
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 20px;
    padding: 10px;
    width: auto;
}

.heroNavigation {
    width: 80%;
    margin: 0 auto;
}

/* .navigation {
    width: 25%;
} */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.5;
}

.active {
    text-decoration: underline;
}

.heroParagraph {
    padding: 10px;
}

.heroPhotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    /* padding-top: 30px; */
    padding-bottom: 100px;
}

img, video {
    max-width: 100%;
    height: auto;
}

.videoText, .photosText {
    padding: 20px 20px;
}

/* =======================================
code to keep the footer always at the bottom of the page
============================================
*/

.footer {
    /* text-align: center; */
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;  
    overflow: hidden;
}

.footerAuthor {
    text-align: center;
}

.privacyStyle {
    text-decoration: underline;
}

.footerPrivacy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}