

.flex-container1 {
    display: flex;
    flex-direction: column;
}

div > p {
    background-color: lightgray;
    width: 100px;
    padding: 20px;
    margin: 10px;
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
}

.flex-container3 {
    display: flex;
    justify-content: center;
}

.flex-container4 {
    display: flex;
    align-items: center;
}