/* This is additional CSS for the page built with Bootstrap */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
    scroll-behavior: smooth;
}


/* Reset typography ========= */
html,body,blockquote,code,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

/* Typography ========= */
.asideHeader,
.asideText, 
.aboutText,
.aboutHeader {
    color: black;
}

/* Padding ================ */
.aboutText,
.fa,
.workLink,
.aboutHeader,
.sectionHeader,
.sectionContact,
.row {
    padding: 10px;
}

.aboutHeader {
    font-weight: bold;
    font-size: 20px;
}

/* Header section ========== */
.jumbotron-fluid {
    background-image: url(headerImage.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    height: auto;
}

.headerContent {
    width: 100%;
    margin: 0 auto;
}

.navbar {
    background-color: black;
}

.headerText,
.sectionHeader,
.sectionContact,
.workLink {
    background-color: black;
    opacity: 0.7;
}

.headerText {
    padding: 20px;
}

.viewWork {
    margin: 0 auto;
}

.workLink {
    color: white;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Images */
.rounded-circle {
    width: 180px;
    height: 200px;
}

.siteImage {
    max-width: 100%;
    height: auto;
    /* display: none; */
}

/* Hover effect */
.fa:hover {
    opacity: 0.7;
}

.col-md-3:hover,
.col-md-2:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.7s;
}

.headerText,
#myBtn {
    cursor: pointer;
}

/* Ordering containers ========== */
.orderOne {
    order: 2;
}

.orderTwo {
    order: 1;
}

/* About page */
.aboutImage {
    width: 250px;
    height: 200px;
}

.col-md-3,
.col-md-2 {
    text-align: center;
}

/* Back to top button ======== */
#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    border-radius: 4px;
  }

/* Responsive row ========= */
.row,
.jumbotron-fluid {
    width: 100%;
    /* padding: 10px; */
}

/* Media query 650px ========== */
@media screen and (min-width: 650px) {
    .headerContent {
        width: 100%;
    }

    .siteImage {
        /* display: block; */
        width: 100%;
        height: auto;
    }

    .orderOne {
        order: 2;
    }
    
    .orderTwo {
        order: 1;
    }

    section {
        padding-bottom: 20px;
    }

    .lineBreak {
        display: none;
    }
}

/* Media query 900px ========== */
@media screen and (min-width: 900px) {
    .headerContent {
        width: 60%;
    }

    .siteImage {
        max-width: 300px;
        height: auto;
    }

    .orderOne {
        order: 1;
    }
    
    .orderTwo {
        order: 2;
    }
}