/* Robert Maingu
    WEB 190 -Spring 2020
    Mod 6 Lab
    27Feb2020 */

.heading {
    grid-area: header;
}

.navigation {
    grid-area: menu;
}

.navigation > ul {
    list-style-type: none;
    text-align: center;
}

li {
    background-color: lightgray;
}

li > a {
    text-decoration: none;
    color: black;
    display: block;
    margin: 30px;
}

.main {
    grid-area: main;
}

.heroContent {
    grid-area: right;
}

.imageLeft {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-template-areas: 
        'header header header header header header'
        'menu main main main right right'
        'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: black;
    padding: 10px;
}

.wrapper > div {
    background-color: white;
    text-align: center;
    font-size: 35px;
    padding: 30px;
}