/* Robert Maingu
    WEB 190 Spring 2020
    Mod 7 Lab
    02Mar2020 */

* { box-sizing: border-box;}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: thin solid black;
    background-color: #2196F3;
}

header {
    background-color: #2196F3;
    padding: 2px;
    height: 150px;
}

h1 {
    padding: 15px;
    margin: 15px;
    color: white;
    text-align: center;
}

nav {
    display: grid;
    background-color: #2196F3;
    padding: 2px;
    grid-template-columns: auto auto auto auto auto;
}

nav > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    margin: 5px;
    text-align: center;
    font-size: 1.2em;
}

.wrapper {
    display: grid;
    grid-template-columns: 15.5% 15.5% 15.5% 15.5% 15.5% 15.5%;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.wrapper > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0 ;
    font-size: 1.2em;
}

.wrapper > div > img {
    width: 100%;
    height: auto;
}

.heading {
    grid-area: 1 / 1 / 3 / 3 ;
}

.navigation {
    grid-area: 1 / 3 / 4 / 6 ;
}

.heroContent {
    grid-area: 3 / 1 / 3 / 3 ;
}

footer > p {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
}

@media screen and (max-width: 900px) {
    #wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 510px) {
    .wrapper {
        display: grid;
        grid-template-columns: auto;
    }

    .heading {
        grid-area: unset;
    }

    .navigation {
        grid-area: unset;
    }

    .heroContent {
        grid-area: unset;
    }

    nav {
        display: grid;
        grid-template-columns: auto;
    }
}