/* Robert Maingu
    WEB 190 -Spring 2020
    Mod 6 Lab
    27Feb2020 */

.wrapper {
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.wrapper > div {
    background-color: lightgray;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.navigation {
    grid-column: 2 / span 5;
}

.main {
    grid-column: 1 / span 6;
}

.heading {
    grid-row: 1 / 3;
}

.start1 {
    grid-area: 1 / 1 / 3 / 3;
}