/* Robert Maingu
    WEB 190 - Spring 2020
    Mod 5 Lab
    18Feb2020 */
.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    height: 400px;
    background-color: black;
}

.gridContainer > div {
    background-color: lightgray;
    text-align: center;
    font-size: 35px;
}

.heading {
    grid-column-start: 2;
    grid-column-end: 5;
}

.navigation {
    grid-row-start: 1;
    grid-row-end: 4;
}

.item9 {
    grid-column-start: 1;
    grid-column-end: 5;
}