/* Robert Maingu
    WEB 190 - Spring 2020
    Mod 5 Lab
    18Feb2020 */
.gridContainer1 {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: space-between;
    height: 400px;
    align-content: center;
    grid-gap: 10px;
    padding: 10px;
    background-color: black;
}

.gridContainer2 {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    height: 400px;
    align-content: space-around;
    justify-content: center;
    grid-gap: 10px;
    padding: 10px;
    background-color: black;
}

.gridContainer1 > div,
.gridContainer2 > div {
    background-color: lightgray;
    text-align: center;
    font-size: 30px;
    padding: 30px 0;
}