.flex-container1,
.flex-container2,
.flex-container3,
.flex-container4 {
    display: flex;
}

.flex-container4 {
    height: 400px;
}

.flex-container1 > div,
.flex-container2 > div,
.flex-container3 > div,
.flex-container4 > div {
    background-color: lightgray;
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
}