* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* Wrapper section ========================*/
.wrapper {
    margin: 20px;   
}

/* Page margin containers =======================*/
header, 
nav,
main,
footer
{
    margin: 30px;
    border: 2px solid black;
    padding: 20px;
}

/* Navigation section ========================*/
nav {
    border: 2px solid black;
    margin: 30px;
    padding: 20px;
}

ul, .footerNav {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

a {
    text-decoration: none;
}

address {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* Footer section ============================*/
.bottomInfo{
    text-align: center;
    margin: 30px;
}

.bottomNav a {
    text-decoration: none;
    margin: 20px;
}

/* Responsiveness =========================== */

@media only screen and (max-width: 510px) {
    li {
        display: block;
    }
}