* {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif, Arial, Helvetica, sans-serif;
    background-color: lightgray;
    margin: 0;
}

.container {
    position: relative;
    overflow: hidden;
}

.topNav {
    background-color: rgb(87, 85, 85);
    padding: 40px;
    color: white;
    text-align: center;
}

.heroContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    margin: 10px;
}

.sideNav {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    /* margin: 10px; */
    grid-auto-rows: 50px;
}

a {
    text-decoration: none;
    color: white;
    border-style: none;
    background-color: rgb(50, 153, 187);
    padding: 15px;
    width: auto;
    border-radius: 3px;
}

.active {
    text-decoration: underline;
}

a:hover {
    background-color: rgb(82, 130, 146);
    cursor: pointer;

}

.heroText {
    padding: 15px;
}

.image1, .imageAccount {
    width: 100%;
    height: auto;
}

.asideBlog {
    background-color: rgb(50, 153, 187);
    padding: 20px;
    /* margin: 10px; */
    width: auto;
    border-radius: 3px;
    text-align: center;
    color: white;
}

footer {
    background-color: rgb(50, 153, 187);
    padding: 20px;
    /* margin-bottom: 10px; */
    text-align: center;
    color: white;
}

.bottomInfo {
    height: auto;
    width: 100%;
    background-color: darkslategray;
    /* text-align: center; */
}

.gridBottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 10px; */
    margin-top: 10px;
    /* text-align: center; */
}

.legalRights, .endorseUs, .ourBlog {
    background-color: rgb(87, 85, 85);
    padding: 10px;
    /* box-shadow: cadetblue; */
    color: white;
}

/* ================================
My account form style
*/

input {
    margin: 10px;
}

.clockGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    /* background-color: red; */
    padding: 10px 0 0 10px;
}

canvas {
    border-radius: 100px;
    width: 330px;
    height: 150px;
    /* position: absolute;
    right: 50px; */
}

.canvasStyle {
    margin: auto;
    width: 30%;
    padding: 10px;
}

.timeInfo {
    color: red;
}

.clockTitle {
    margin-right: 100px;
}


/* Responsive ========================= */

@media only screen and (max-width: 760px) {
    .heroContainer,
    .gridBottom {
        width: 100%;
        grid-template-columns: 1fr;
        margin: 5px;
    }
}